@use '~styles/functions';

.root {
  max-width: var(--card-width);
}

.cr {
  position: absolute;
  inset-block-start: functions.spacing(0.5);
  inset-inline-end: functions.spacing(0.5);
}

.crToggle {
  aspect-ratio: 1/1;
  align-items: center;
  background: var(--card-color, var(--dark-light));
  border-radius: 100%;
  color: var(--light-dark);
  display: flex;
  font-size: small;
  justify-content: center;
  outline: functions.spacing(0.5) solid currentColor;
  width: functions.spacing(5.5);
}

.icons {
  position: absolute;
  inset-block-start: functions.spacing(0.25);
  inset-inline-start: functions.spacing(0.5);
}

.icon {
  paint-order: stroke;
  stroke: var(--light-dark);
  stroke-width: functions.spacing(0.25);
  width: functions.spacing(5.5);
}

.source {
  font-size: small;
  font-style: italic;
  position: relative;
  z-index: 1;
}
