@use '~styles/breakpoints.module';
@use '~styles/functions';

.root {
  --gap: #{functions.spacing(1)};
  --gap-total: calc(calc(var(--columns) - 1) * var(--gap));
  --max-width: calc((100% - var(--gap-total)) / var(--columns));

  display: grid;
  gap: var(--gap);
  grid-template-columns: repeat(
    auto-fill,
    minmax(max(var(--min-width), var(--max-width)), 1fr)
  );
}

.grid {
  --columns: 9;
  --min-width: #{functions.spacing(20)};
}

.list {
  --columns: 4;
  --min-width: #{breakpoints.$mobile};
}
