@use '~styles/functions';

.root {
  --card-width: #{functions.spacing(20)};

  display: grid;
  gap: functions.spacing(2);
  grid-template-columns: repeat(auto-fit, minmax(var(--card-width), 1fr));
}
