@use '~styles/functions';

.root {
  align-items: center;
  flex-direction: row;
}

.image {
  width: functions.spacing(8);

  img {
    padding: functions.spacing(0.5);
  }
}

.content {
  align-items: inherit;
  border-top: unset;
  display: inherit;
  flex-grow: 1;
  gap: 10px;
  justify-content: space-between;
}

.copy {
  align-items: inherit;
  display: inherit;
  gap: inherit;
}

.cr {
  aspect-ratio: 1;
  align-items: center;
  background: var(--card-color, var(--foreground));
  border-radius: 100%;
  color: var(--background);
  display: flex;
  font-size: small;
  justify-content: center;
  outline: functions.spacing(0.5) solid currentColor;
  width: functions.spacing(5.5);
}

.icon {
  font-size: x-large;
  font-weight: bold;
  paint-order: stroke;
  stroke: var(--background);
  stroke-width: functions.spacing(0.25);
  text-shadow:
    1px 1px 0 var(--background),
    1px -1px 0 var(--background),
    -1px 1px 0 var(--background),
    -1px -1px 0 var(--background);
  width: functions.spacing(4);
}

.source {
  display: block;
  font-size: small;
  font-style: italic;
  line-height: 1.85;
  min-width: 24px;
  position: relative;
  z-index: 1;
}
