@use '~styles/functions';

.root {
  aspect-ratio: 1;
  display: block;
  font-size: 0;
  width: functions.spacing(2.25);
}

.icon {
  --disabled: var(--card-color, var(--border));

  aspect-ratio: inherit;
  width: 100%;

  &[data-rating='3'] {
    --star-4: var(--disabled);
  }

  &[data-rating='2'] {
    --star-3: var(--disabled);
    --star-4: var(--disabled);
  }

  &[data-rating='1'] {
    --star-2: var(--disabled);
    --star-3: var(--disabled);
    --star-4: var(--disabled);
  }
}
