@use '~styles/functions';

.root {
  border: 1px solid var(--border);
  border-radius: functions.spacing(1);
  padding: functions.spacing(0.25) functions.spacing(0.5);
  vertical-align: unset;

  &:hover {
    background: var(--muted-background);
  }

  &:focus-visible {
    border-color: currentColor;
    outline: none;
  }
}
