@use '~styles/functions';

.root {
  break-before: always;
}

.heading {
  border-block-end: 1px solid var(--border);
  font-size: larger;
  margin-block-end: functions.spacing(1);
  padding-block-end: functions.spacing(1);
}

.name {
  display: inline;
  font-style: italic;
  font-weight: bold;

  &::after {
    content: '. ';
  }
}

.label {
  font-style: italic;

  &::after {
    content: var(--content-colon);
  }
}
