$black: #000;
$midnight: #262626;
$twilight: #464646;
$night: #777;
$dusk: #a6a6a6;
$mist: #bbb;
$smoke: #ddd;
$white: #fff;

:export {
  black: $black;
  midnight: $midnight;
  twilight: $twilight;
  night: $night;
  dusk: $dusk;
  mist: $mist;
  smoke: $smoke;
  white: $white;
}
