@use '~@newhighsco/chipset/styles/normalize';
@use '~styles/breakpoints.module';
@use '~styles/colors.module';
@use '~styles/fonts.module';
@use '~styles/font-faces';
@use '~styles/functions';

:root {
  --background: light-dark(#{colors.$white}, #{colors.$black});
  --foreground: light-dark(#{colors.$black}, #{colors.$white});
  --muted: light-dark(#{colors.$white-smoke}, #{colors.$black-smoke});
  --border: light-dark(#{colors.$white-mist}, #{colors.$black-mist});

  color-scheme: light dark;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-size: 18px;
  line-height: 1.5;
  font-family: fonts.$body;
  font-weight: normal;
  min-width: breakpoints.$mobile;
}

a {
  color: inherit;
  text-decoration: none;

  &:focus {
    outline: none;
  }
}

select {
  cursor: pointer;

  &[disabled] {
    cursor: not-allowed;
  }
}
