@use '~@newhighsco/chipset/styles/normalize';
@use '~styles/breakpoints.module';
@use '~styles/colors.module';
@use '~styles/fonts.module';
@use '~styles/font-faces';
@use '~styles/functions';

body {
  background-color: colors.$white;
  color: colors.$black;
  font-size: 18px;
  line-height: 1.5;
  font-family: fonts.$body;
  font-weight: normal;
  min-width: breakpoints.$mobile;
}

a {
  color: inherit;
  text-decoration: none;

  &:focus {
    outline: none;
  }
}

dl {
  display: grid;
  gap: 0 functions.spacing(0.5);
  grid-template-columns: max-content;
}

dt {
  font-weight: bold;

  &::after {
    content: ':';
  }
}

dd {
  margin: 0;
  grid-column-start: 2;
}

form {
  align-items: center;
  display: flex;
  gap: functions.spacing(1);
}

label {
  align-items: center;
  display: flex;
  gap: functions.spacing(1);
}
