@use '~styles/functions';

.select {
  appearance: none;
  background: none;
  opacity: 0;
  position: absolute;
  inset: 0;
  padding: inherit;

  @supports (appearance: base-select) {
    &,
    &::picker(select) {
      background: var(--selection);
      appearance: base-select;
      border: 1px solid var(--border);
      border-radius: inherit;
      margin-top: functions.spacing(0.5);
      max-height: 75vh;
      padding: functions.spacing(0.5);
    }
  }

  option {
    align-items: center;
    border-radius: functions.spacing(0.5);
    display: flex;
    flex-direction: row-reverse;
    gap: functions.spacing(2);
    line-height: 1;
    justify-content: space-between;
    padding: functions.spacing(0.25) functions.spacing(1);

    &::checkmark {
      content: '';
      width: 1em;
      height: 1em;
    }

    &:checked::checkmark {
      background: currentColor;
      mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='m9.55 18l-5.7-5.7l1.425-1.425L9.55 15.15l9.175-9.175L20.15 7.4z'/></svg>");
    }

    &:enabled:hover {
      background: var(--highlight);
    }

    &:disabled {
      color: var(--muted-foreground);
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
}
