@use '~styles/functions';

.select {
  --checkmark: #{functions.icon(
      'M21 7L9 19l-5.5-5.5l1.41-1.41L9 16.17L19.59 5.59z'
    )};

  appearance: none;
  background: none;
  opacity: 0;
  position: absolute;
  inset: 0;
  padding: inherit;

  @supports (appearance: base-select) {
    &,
    &::picker(select) {
      background: var(--selection);
      appearance: base-select;
      border: 1px solid var(--border);
      border-radius: inherit;
      margin-top: functions.spacing(0.5);
      max-height: 75vh;
      padding: functions.spacing(0.5);
    }
  }

  &[multiple] {
    --checkmark: #{functions.icon(
        'M19 3H5c-1.11 0-2 .89-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2m0 2v14H5V5z'
      )};

    :checked,
    [aria-checked='true'] {
      --checkmark: #{functions.icon(
          'M19 3H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2m0 2v14H5V5zm-9 12l-4-4l1.41-1.42L10 14.17l6.59-6.59L18 9'
        )};
    }

    [aria-checked='mixed'] {
      --checkmark: #{functions.icon(
          'M19 19V5H5v14zm0-16a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2zm-2 8v2H7v-2z'
        )};
    }
  }

  option {
    align-items: center;
    border-radius: functions.spacing(0.5);
    cursor: pointer;
    flex-direction: row-reverse;
    gap: functions.spacing(0.5);
    line-height: 1;
    justify-content: space-between;
    padding: functions.spacing(0.25) functions.spacing(1);

    &::checkmark {
      background: currentColor;
      content: '';
      flex-shrink: 0;
      mask-image: var(--checkmark);
      mask-repeat: no-repeat;
      mask-position: 50% 50%;
      mask-size: cover;
      height: functions.spacing(2);
      width: functions.spacing(2);
    }

    &:enabled:hover {
      background: var(--highlight);
    }

    &:disabled {
      color: var(--muted-foreground);
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
}
