@use '~styles/colors.module';
@use '~styles/functions';

.root {
  --card-color: #{colors.$black};

  border: 1px solid var(--card-color);
  color: var(--card-color);
  border-radius: functions.spacing(1);
  display: flex;
  flex-direction: column;
  line-height: 1.25;
  overflow: visible !important;

  &[disabled] {
    --card-color: #{colors.$grey};

    cursor: not-allowed;
  }
}

.content {
  border-top: 1px solid currentColor;
  padding: functions.spacing(1);
}

.image {
  aspect-ratio: 1/1;
  height: auto;
  padding: functions.spacing(1.5);

  [disabled] & {
    opacity: 0.25;
  }
}

.heading,
.copy {
  align-items: start;
  display: flex;
  gap: functions.spacing(0.5);
  justify-content: space-between;
}
