@use '~styles/functions';

.root {
  border: 1px solid var(--card-color, var(--border));
  color: var(--card-color, var(--foreground));
  border-radius: functions.spacing(1);
  display: flex;
  flex-direction: column;
  line-height: 1.25;
  overflow: visible !important;

  &[aria-disabled] {
    --card-color: var(--muted-foreground);

    cursor: not-allowed;
    opacity: 0.25;
  }

  &[role='link']:hover {
    border-color: currentColor;
  }
}

.content {
  border-top: inherit;
  padding: functions.spacing(1);

  &:first-child {
    border-top: unset;
  }
}

.image {
  aspect-ratio: 1;
  height: auto;
  padding-bottom: unset;

  img {
    padding: functions.spacing(1.5);
  }
}
