@use '~styles/functions';

.root {
  border-block-end: 1px solid var(--border);
}

.content {
  padding-block: functions.spacing(2);
}

.columns {
  gap: functions.spacing(2);
  justify-content: space-between;

  & > * {
    width: auto;
  }
}
