@use '~styles/functions';
@use '~styles/mixins';

.input {
  @include mixins.visually-hidden;
}

.icon {
  width: 1.1em;

  :not(:checked) + & {
    opacity: 0.5;
  }

  [disabled] + & {
    color: var(--border);
    cursor: not-allowed;
  }

  :not([disabled]) + & {
    cursor: pointer;
  }
}
