@use '~styles/functions';
@use '~styles/mixins';

.root {
  &:hover,
  &:has(:checked) {
    background: var(--muted);
  }
}

.input {
  @include mixins.visually-hidden;
}

.icon {
  width: 1.1em;

  [disabled] + & {
    color: var(--border);
    cursor: not-allowed;
  }

  :not([disabled]) + & {
    cursor: pointer;
  }
}
