@use '~styles/functions';

.root {
  border-top: 1px solid var(--border);
  font-size: smaller;
}

.content {
  padding-block: functions.spacing(2);
}

.columns {
  gap: functions.spacing(2);
  justify-content: space-between;

  & > * {
    width: auto;
  }
}

.icon {
  height: functions.spacing(4);
  width: auto;
}
