@use '~styles/functions';

.root {
  --version: attr(data-version);

  border-top: 1px solid var(--border);

  [data-version]::after {
    content: ' ' var(--version);
  }
}

.content {
  padding-block: functions.spacing(2);
}

.columns {
  gap: functions.spacing(2);
  justify-content: space-between;

  & > * {
    width: auto;
  }
}

.icon {
  height: functions.spacing(4);
  width: auto;
}
