@use '~styles/functions';

.root {
  border-top: 1px solid currentColor;
}

.content {
  padding-block: functions.spacing(2);
}

.link {
  &:hover,
  &:active,
  &:focus {
    text-decoration: underline;
  }
}

.icon {
  height: functions.spacing(4);
  width: auto;
}

.iconLink {
  padding-inline-start: functions.spacing(2);
}
