@use '~styles/functions';

.root {
  border-radius: functions.spacing(1);
  background: var(--border);
  color: green;
  display: inline-flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;

  &::before,
  &::after {
    border-bottom: 1px solid var(--muted-foreground);
    border-radius: inherit;
    content: '';
    position: absolute;
    inset: 0;
  }

  &::after {
    border-bottom-color: currentColor;
    width: var(--percentage, 100%);
  }
}

.bloodied {
  color: red;
}

.input {
  background: var(--background);
  border-radius: inherit;
  display: flex;
  column-rule: 1px solid var(--border);
  color: var(--foreground);
  overflow: hidden;
  margin: 1px;
  position: relative;
  z-index: 1;

  > * {
    padding: functions.spacing(0.25) functions.spacing(1);
  }

  input {
    appearance: textfield;
    background: none;
    border: 0;
    font-variant-numeric: tabular-nums;
    text-align: center;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      appearance: none;
    }

    &:focus-visible {
      outline: none;
    }
  }

  button {
    vertical-align: middle;

    &:enabled:hover {
      background: var(--highlight);
    }

    &:disabled {
      color: var(--muted-foreground);
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
}
