@use '~styles/colors.module';
@use '~styles/functions';

.cr {
  position: absolute;
  inset-block-start: functions.spacing(0.5);
  inset-inline-end: functions.spacing(0.5);
}

.crToggle {
  aspect-ratio: 1/1;
  align-items: center;
  background: var(--card-color);
  border-radius: 100%;
  color: colors.$white;
  display: flex;
  font-size: small;
  justify-content: center;
  outline: functions.spacing(0.5) solid currentColor;
  width: functions.spacing(5.5);
}

.icons {
  position: absolute;
  inset-block-start: functions.spacing(1.5);
  inset-inline-start: functions.spacing(1);
}

.icon {
  width: functions.spacing(4.5);
}

.source {
  font-size: small;
  font-style: italic;
  position: relative;
  z-index: 1;
}
