@use '~styles/functions';

.toggle[aria-expanded] {
  cursor: help;
}

.root {
  line-height: 1;
  z-index: 1;

  &:hover,
  &:focus-within {
    z-index: 2;
  }
}

.content {
  background: var(--dark-light);
  border-radius: functions.spacing(0.5);
  color: var(--light-dark);
  font-size: small;
  margin: functions.spacing(0.5);
  padding: functions.spacing(0.5) functions.spacing(1);
  text-align: center;

  &.center {
    margin-inline: 0;
  }

  &.middle {
    margin-block: 0;
  }
}
