@use '~styles/colors.module';
@use '~styles/functions';

.toggle[aria-expanded] {
  cursor: help;
}

.content {
  background: colors.$black;
  border-radius: functions.spacing(0.5);
  color: colors.$white;
  font-size: small;
  margin: functions.spacing(0.5);
  padding: functions.spacing(0.5) functions.spacing(1);
}
